</head>
<body>

<div class="header">
<a href="@WEBROOT@/" class="logo">
	<div class="icon">⚙️</div>
	<div class="logotext">
		Blog de f3nx:<br>
		Vamos a ver como va la cosa<br>
	</div>
</a>
<div class="links">
	<a href="@WEBROOT@/">Inicio</a>
	<a href="@WEBROOT@/page/acerca-de-es/">Acerca de & demás</a>
	<a href="@WEBROOT@/page/proyectos-interesantes-es/">Proyectos interesantes</a>
	<a href="@WEBROOT@/page/contacto-es/">Contacto</a>
	<a href="@WEBROOT@/page/donar-es/">Dona ❤️</a>
	<a href="@WEBROOT@/feed.xml">RSS</a>
</div>
</div>
