<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/png" href="chrome://browser/content/robot.ico"/>
<meta charset="utf-8">
<style>
/* general */
body {
	margin: 0px;
	padding: 10px 10px; /* 10 50*/
	font-family: Consolas,Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
	background: black;
}
a, a:visited, body {
	color: white;
}
a:hover, a:active {
	color: purple;
}

.header, .post {
	/*max-width: 800px; */
}

/* header */
.header {
	display: block;
	line-height: 20pt;
	margin-left: auto;
	margin-right: auto;
}
/* header logo: icon + green text on the right */
.logo, .logo:visited {
	display: block;
	color: red;
}
.icon {
	animation: rotate 2s linear infinite;
	animation-play-state: paused;
	display: block;
	font-size: 50pt;
	float: left;
	line-height: 50pt;
	padding: 0px 10px;
}
.logo:hover .icon {
	animation-play-state: running;
}
@keyframes rotate {
	100% {transform: rotate(1turn);}
}
.logotext {
	display: inline-block;
	padding: 0px 15px;
	font-style: italic;
	line-height: 25pt;
}
/*Color verde + italic del bloque lenguaje*/
.lenguajes {
	display: inline-block;
	padding: 0px 3px;
	font-style: italic;
	background: green;
}

.header .links {
	background: orange;
	display: block;
	margin-top: 10px;
	line-height: 25pt;
	border-bottom: 3px solid green;
	box-shadow: 0px 2px 1px 0px green;
}
.header .links a {
	padding: 10px;
	text-decoration: none;
}
/* content */
.post {
	display: block;
	margin: 50px;
	padding-bottom: 25px;
	border-bottom: 2px solid green;
	margin-left: auto;
	margin-right: auto;
	line-height: 1.5;
}

.h1 {
	display: block;
	text-decoration: underline;
	font-weight: bold;
	margin: 50px 0px 50px 0px;
	/*transform: scale(1, 1.5);*/
	line-height: 40pt;
	font-size: 20pt;
}

.h2 {
	display: block;
	font-size: 18pt;
	font-weight: bold;
}

.index {
	font-size: 9pt;
}

.date, .ert, .ert::before {
	color: gray;
	font-weight: bold;
	font-size: 10.5pt;
	
}

.est {
	color: orange;
	font-weight: bold;
	font-size: 12pt;
	
}

.est::before {
	content: " ";
	padding: 0px 0px 0px 5px;
}

/*Fecha*/
/*.date::after {
	content: "/";
	padding: 0px 0px 0px 5px;
}*/

/*Codigo*/
.code	{
	background: #263238;
	display: inline-block;
}

pre {
    overflow-x: auto;
}

.arial {
	font-family: DejaVu Sans, Sans-Serif, Arial;
}
/*Atencion*/
.aten {
	background: red;
}
.index_post {
	display: block;
}

/* thumbnails */
.thumb {
	border-bottom: 3px dotted #444;
	font-size: 0;
}
.thumb:hover {
	border-bottom: 3px dotted green;
}
.thumb img {
	width: 50%;
	height: auto;
	padding-bottom: 3px;
	margin-top: 20px;
}
/*thumbnails with text on right*/
.thumb-with-text-on-right {
    clear: left;
    padding: 10px 0px;
}
.thumb-with-text-on-right .thumb{
    float: left;
    margin-right: 20px;
}

</style>
<link rel="alternate" href="@WEBROOT@/feed.xml" type="application/rss+xml">
