<div class="post">

<a class="h1" href="@SELF@">Haz una web con Neocities y adminístrala desde la terminal</a>
<span class="date">[2020/05/09]</span>
<span class="ert">@ERT@</span>
<span class="lang">es</span>
<div class="aten">Atención!: Este post no cubre la codificación de <a href="https://es.wikipedia.org/wiki/Hoja_de_estilos_en_cascada" target="_blank">CSS</a> o <a href="https://es.wikipedia.org/wiki/HTML" target="_blank">HTML</a>, pero lxs genies de Radios Libres <a href="https://radioslibres.net/es-posible-tener-webs-sostenibles/" target="_blank">tienen un post sobre un sitio web estático</a> y al final hay <a href="https://labekka.red/servidoras-feministas/2019/10/09/fanzine-parte-5.html" target="_blank">fanzine de la_bekka</a> re recomendadx :3</div>
<p>Tu, que siempre has querido tener un sitio web sin las limitaciones (Y vigilancia) de blogger ni las de un blog wordpress, pues aquí le muestro como hacerse de un sitio en internet, no es igual que auto-hospedar un sitio en tu <a href="https://en.wikipedia.org/wiki/Single-board_computer" target="_blank">SBC</a> preferida o tener una <a href="https://en.wikipedia.org/wiki/Virtual_private_server" target="_blank">VPS</a>... es mas fácil :)</p>

<h2>Lo primero</h2>
<p>Primero debes hacer una cuenta en <a href="https://neocities.org/" target="_blank">neocities.org</a> esto es bien fácil de hacer :3 incluso se muestra un pequeño tutorial de introducción a HTML. Ahora para poder administrarlo debes tener en tu equipo los siguientes programas que se instalaran desde la terminal (Uso una distro basada en Arch y no tengo acceso a una basada en Debian, sorry) <code class="code">sudo pacman -S ruby nano</code> y después <code class="code">gem install neocities</code> esos comandos instalan <a href="https://es.wikipedia.org/wiki/Ruby" target="_blank">ruby</a>, <a href="https://es.wikipedia.org/wiki/GNU_Nano" target="_blank">nano</a> y <a href="https://github.com/neocities/neocities-ruby" target="_blank">neocities-cli</a> 😆️</p>
<p>Ah! se necesita hacer una modificaciones al "perfil de bash" así que hay que abrir el archivo con el comando <code class="code">nano ~/.bash_profile</code> y al fin del texto pegar esto <code class="code">PATH="$PATH:$(ruby -e 'puts Gem.user_dir')/bin"</code> (Esto ultimo lo encontré en la <a href="https://wiki.archlinux.org/index.php/Ruby#RubyGems" target="_blank">Wiki de Arch</a>)</p>

<h2>Administración desde la terminal</h2>
<p>Con todo eso listo ya podes ir a tu carpeta donde tienes todos los .html y comenzar a pushear (Enviar/Subir) los files! Así que en la terminal debes poner <code class="code">neocities push .</code> te preguntara sobre tu sitename o nombre de sitio (Sin el .neocities.org) luego la clave y ahí todo listo, comenzara la pushiacion :3</p>
<p>Si no quieres subir un archivo, se debe especificar de esta manera <code class="code">neocities push -e secret.txt</code> aunque... prefiero no hacer esto y mejor crear un archivo <code class="code">.gitignore</code> (En la raiz de la carpeta) con este comando se crea ese archivo <code class="code">nano .gitignore</code> y dentro poner esto: <pre><code class="code"># Archivo que indica las carpetas/archivos
# que no debe subir
### Blog ###
src
test
secret.txt
# Fin</code></pre>
<p>Para salir debes precionar Ctrl+X, luego confirmar con "S" y de nombre <code class="code">.gitignore</code></p>
<p>Ahora para borrar un archivo ya subido debes poner <code class="code">neocities delete /ruta/del/archivo.html</code> y una carpeta <code class="code">neocities delete /carpeta</code> y seria :3</p>


<h2>Configuraciones varias</h2>
<p>Para configurar el sitio vamos a este link <a href="https://neocities.org/settings#sites" target="_blank">https://neocities.org/settings#sites</a> y luego "Manage Site Settings" de ahí tickeas las "✅" que quieras "Desabilitar comentarios del perfil del sitio" "Desabilitar perfil" y "Activar <a href="https://es.wikipedia.org/wiki/Sistema_de_archivos_interplanetario" target="_blank">IPFS</a>". En "Change Site Name" cambias el nombre del sitio y del usuarix, donde dice "Tipping" activas las propinas poniendo tu link de paypal o tu billetera Bitcoin y si publicas contenido +18 pues... le das al "✅" UwU</p>
<p>Muchas gracias por leer el post :)</p>

</div>

