<div class="post">

<a class="h1" href="@SELF@">Haciendo una backup de un celular con Wget</a>
<span class="date">[2020/04/01]</span>
<span class="ert">@ERT@</span>
<span class="est">[Sin terminar]</span>
<span class="lang">es</span>
<div class="aten">Atención!: Ya realice esto y creo que ningún archivo resulto herido :3</div>
<p>Llega el momento de actualizar tu celular, si ese celular con CynoagenMod y quieres pasarlo a Replicant o Lineage OS, pero no tienes una MicroSD :( Bien ese mismo problema tenia así que "pase internet" de mi celular a mi computadora, puse un servidor FTP y use Wget para bajar la data.</p>

<h2>Instalando lo necesario</h2>
<p>Para la tarea use <a href="https://f-droid.org/es/packages/org.primftpd/" target="_blank">esta app</a> que te arma un <a href="https://es.wikipedia.org/wiki/Servidor_FTP#Servidor_FTP" target="_blank">servidor FTP</a>, obviamente es Software Libre. Y la computadora necesita el programa <a href="https://es.wikipedia.org/wiki/GNU_Wget" target="_blank">Wget</a>, si usas una distro basada en Debian (Trisquel, Ubuntu) pones en esto en tu terminal <div class="code">sudo apt update && apt install wget</div> y si usas una distro basada en Arch (Parabola OS, Manjaro) pues <div class="code">sudo pacman -Sy wget</div></p>

<h2>Pasar la data</h2>
<p>El server FTP ya esta encendido y </p>
<p>La de 8MB tiene el <a href="https://en.wikipedia.org/wiki/Intel_Management_Engine" target="_blank">Intel ME</a> (debes aplicarle me_cleaner.py), la otra es Coreboot </p>

La de 8MB también debe ser "desbloqueada" con <div class="code">ifdtool -u</div>
	<p>Muchas gracias por leer el post :)</p>

</div>
