<div class="post">

<a class="h1" href="@SELF@">Cambiá el detector de portal cautivo en Android</a>
<span class="date">[2020/06/03]</span>
<span class="ert">@ERT@</span>
<span class="lang">es</span>
<div class="aten">Atención!: Esto lo hice en un celular con LineageOS 16, deberia funcionar en Android 9</div>
<p>Cuando te conectas a una red WiFi/3G tu dispositivo Android te dice si tienes acceso a internet (Aparece una x en el símbolo de WiFi/4G y si no tienes te manda una notificación), pero ¿como lo sabe? simplemente busca un archivo en los servidores de google, pide un archivo por http (Ya que http es manipulable por tu ISP) y si el <a href="https://es.wikipedia.org/wiki/Portal_cautivo" target="_blank">archivo es modificado en el camino tu dispositivo sabe que no tienes internet</a>.</p>
<p>Es algo poco, pero mientras menos data para <a href="https://en.wikipedia.org/wiki/Google_and_privacy_issues" target="_blank">google</a> mejor.</p>

<h2>Lo primero</h2>
<p>Debes instalar adb y los drivers para tu dispositivo (Puede que no necesites los drivers)</p>
<p>Para instalar adb en distros basadas en Arch (Manjaro, Parabola OS) usa <code class="code">sudo pacman -Su android-tools</code> y para distros basadas en Debian (Trisquel, Ubuntu) <code class="code">sudo apt update && apt install adb</code></p>

<h2>La terminal</h2>
<p>Poné <code class="code">adb start-server</code> y el server arranca :3</p>
<p>Ve a las configuraciones de tu dispositivo luego en opciones para programadores activar la depuración en Android por adb</p>
<p>Conecta por usb el celular a tu computadora y autoriza</p>
<p>Para verificar pon <code class="code">sudo adb get-state</code> si aparece un <code class="code">device</code> todo salio bien :3</p>
<p>Ahora pone <code class="code">adb shell</code> se abrirá una shell y aquí te dejo los comandos a usar<p/>

<p>¿Quieres deshabilitar esa función? usa este comando</p>
<code class="code">settings put global captive_portal_mode 0</code>
<p>¿Quieres habilitar esa función? usa este comando</p>
<code class="code">settings put global captive_portal_mode 1</code>
<p>¿Quieres que cuando se detecte un portal cautivo, tu dispositivo se desconecte de la red?</p>
<code class="code">settings put global captive_portal_mode 2</code>
<p>¿Quieres cambiar el detector? usa estos comandos (Se cambiara por el que provee Firefox, el cual se usa en Firefox y navegadores derivados)</p>
<pre><code class="code">settings put global captive_portal_http_url http://detectportal.firefox.com
settings put global captive_portal_https_url https://detectportal.firefox.com
settings put global captive_portal_fallback_url http://detectportal.firefox.com
settings put global captive_portal_other_fallback_urls http://detectportal.firefox.com</code></pre>

<p>Para verificar los parámetros usa estos comandos</p>
<p><code class="code">settings get global captive_portal_mode</code></p>
<pre><code class="code">settings get global captive_portal_http_url
settings get global captive_portal_https_url
settings get global captive_portal_fallback_url
settings get global captive_portal_other_fallback_urls</code></pre>
<p>Estas son las url que usa google en Android, por si quieres meterlas en un <a href="https://es.wikipedia.org/wiki/Archivo_hosts" target="_blank">archivo hosts</a> de tu router :3</p>
<pre>http://connectivitycheck.gstatic.com/generate_204
http://clients3.google.com/generate_204</pre>

<h2>Menos data para google!</h2>
<p>Ahora con estos comandos se podrá cambiar el servidor <a href="https://es.wikipedia.org/wiki/Network_Time_Protocol" target="_blank">NTP</a> de Android (time.android.com que mantiene google) se cambiara por pool.ntp.org (<a href="https://www.ntppool.org/es/" target="_blank">que es mantenido por una comunidad</a>)</p>
<p>Dentro de la shell de adb pone </p>
<code class="code">settings get global ntp_server</code>
<p>(Me aparece <code class="code">null</code>)</p>
<p>Ahora para cambiarlo pone</p>
<code class="code">settings put global ntp_server pool.ntp.org</code>
<p>Y listo, para comprobarlo podes usar el penúltimo comando :3</p>
<p>Ahora, puedes usar otro server, ubicado en otra parte o cualquier otro server, incluso uno dentro de tu zona/casa</p>

<h2>Palabras finales</h2> 
<p>En estos momentos en varias partes del mundo la gente esta protestando por el hambre y violencia estatal, cosa que me alegra mucho, mis condolencias y respeto a toda la gente que salio y a lxs otrxs que no podrán volver.</p>
</div>
