<div class="post">

<a class="h1" href="@SELF@">¿Como bajar un vídeo de Vimeo VOD?</a>
<span class="date">[2019/10/31]</span>
<span class="ert">@ERT@</span>
<span class="lang">es</span>

<p>Quizás quieras proyectar unos documentales o películas en una zona sin acceso a internet, o simplemente quieres preservar ese vídeo rentado, cualquiera que sea tu motivo en este post te mostrare como bajar un vídeo on demand de vimeo.</p>

<p>Para hacer esto usaremos youtube-dl que no solo sirve para bajar contenido de youtube sino que soporta <a href="https://ytdl-org.github.io/youtube-dl/supportedsites.html" target="_blank">muchos sitios</a></p>
<p>Aquí dejare las instrucciones para la instalación según su sistema operativo </p>
<ul class="índice">
	<li><a href="#android">Android</a>
	<li><a href="#gnu/linux">GNU/Linux</a>
</ul>

<p>
	<a class="h2"
		href="#android"
		id="android">
			Android
	</a>
	
	Instalar youtube-dl en Android no es tan fácil como en demás sistemas... pero se puede :)
	<p>Primero debes instalar Termux desde F-Droid, esperar a que se instale y seguir</p>
	<p>Abrir Termux y en la terminal escribir <code class="code">pkg install python ffmpeg</code> después presionar Enter o el botón que siempre usas para enviar mensajes después confirmar con "y" mas enter,con esos comandos instalaremos python y ffmpeg</p>
	<p>Luego <code class="code">pip install youtube-dl</code> y Enter</p>
	<p>Ahora verificar que youtube-dl este instalado con <code class="code">youtube-dl --version</code></p>

	<p>Baja el vídeo con este comando <code class="code">youtube-dl --user "Correo electrónico de tu cuenta de Vimeo" --password "Contraseña de tu cuenta" https://vimeo.com/ondemand/internetsownboymovie</code></p>
	<p>Y presionar Enter (En este caso bajaría el documental de Aaron Swartz, debes cambiar el link por el tuyo)</p>
	<p>Para mover el archivo de Termux debes darle permisos para acceder a tu memoria interna con el siguiente comando <code class=code>termux-setup-storage</code> permisos ya concedidos y ya se puede mover el archivo con <code class=code>mv Documental.mp4 /storage/shared/</code> (Si el nombre del archivo es muy largo debes poner solo el comienzo, respetando las minúsculas/mayúsculas y presionar TAB ⇄ ahí quedara el archivo, es como auto-completar) esperas un poco hasta que el cursor comience a parpadear otra vez y ya esta listo :3 ve a tu carpeta principal o usa la búsqueda automática de VLC</p>

<p>
	<a class="h2"
		href="#gnu/linux"
		id="gnu/linux">
			GNU/Linux
	</a>
	
	Esta si que es fácil
	<p>Se busca la terminal luego poné el comando <code class="code">sudo apt update && sudo apt install youtube-dl ffmpeg</code> y Enter</p>
	<p>¿Que hace esto? Primero actualizar la lista de aplicaciones y luego instala youtube-dl y ffmpeg, aunque este comando solo es para equipos basados en Debian como Linux Mint, Trisquel o Ubuntu</p>
	<p>Ahora si usas distro basada en Arch como Manjaro o Parabola OS... pues buscas la terminal y pones los comandos <code class="code">sudo pacman -Sy youtube-dl ffmpeg</code> actualizas las bases de datos de paquetes e instalas youtube-dl mas ffmpeg :)</p>

	<p>Repos actualizadas y programa instalado, toca bajar el vídeo con el comando</p> 
	<code class="code">youtube-dl --user "Correo electronico que usaste en tu cuenta de Vimeo" --password "La contraseña de tu cuenta" https://vimeo.com/ondemand/internetsownboymovie</code>
	<p>(Debes cambiar el link del documental por el tuyo)
	Ahora el vídeo quedo guardado en tu carpeta personal.</p>

	<p>Muchas gracias por leer el post :)</p>

</div>
