<div class="post">

<a class="h1" href="@SELF@">Decisión de diseño del blog</a>
<span class="date">[2020/05/27]</span>
<span class="ert">@ERT@</span>
<span class="est">[Actualizado 2020/06/14]</span>
<span class="lang">es</span>
<p>Que blog mas desorganizado jaja</p>

<h2>El sitio/blog</h2>
<p>Tenia la necesidad de escribir, como terapia o pasatiempo pero también para escribir recetas de cocina, poner comandos que me parecen utiles y hackeos de equipos IOT :3 eh ¿que mas? ah si mi pc no es la mas potente y aveces veía como se comía la CPU el código js de esas webs sobre cargadas :/</p>

<ul class="indice">
	<li><a href="#pendientes">Pendientes</a>
	<li><a href="#Color-negro">El color negro aquí esta presente</a>
	<li><a href="#JS-Libre">Sitio libre de JavaScript</a>
	<li><a href="#Web-estatica">Sitio estático</a>
	<li><a href="#w3m-friendly">Amigable con la terminal</a>
	<li><a href="#estado">Estado del post</a>
	<li><a href="#atencion">Atención!</a>
</ul>

<a class="h2"
		href="#pendientes"
		id="pendientes">
		Pendientes
		</a>
<p>Falta un indicador de lenguaje (similar al estado), algo como [en] aunque creo que la persona que lea el titulo en tal lenguaje sabrá que se va encontrar adentro ^^ pero falta una forma de especificarle al navegador que el .html esta en tal idioma, pensé en algo como "lang=en" y luego el Makefile modifica el .html y le especifica el lenguaje al archivo final (ahora todo archivo esta en es-AR sin importar nada). Yendo mas lejos! incluso se podría agregar en el mismo .html final las varias traducciones :3</p>

<p>Selector de lenguaje, similar al anterior pendiente pero para que el user vea y escoja su lenguaje preferido :3 Ya esta implementado (la barra verde con los ca en es) solo que debe ser automática, para no escribir la url completa ^^</p>

<p>Faltan tags, creo que se podría hacer una página exclusiva para eso, obviamente auto-generada (con ayuda del Makefile) con la información que se le ponga en el .html modificable, algo como "tags="Android, Anarquía, Tutorial, Jardinería, Receta, Hack, IOT, Ingeniería inversa, Notebook, ARM, risc-v" ordenados de forma alfabética</p>

	<a class="h2"
		href="#Color-negro"
		id="Color-negro">
		El color negro aquí esta presente
		</a>
<p>El color negro, esta muy presente aquí no porque sea anarquista, sino por un tema de ahorro energético y salud ocular :3 si, en este sitio le salvamos de un dolor de ojos o algo peor.</p>

	<a class="h2"
		href="#JS-Libre"
		id="JS-Libre">
		Sitio libre de JavaScript
		</a>
<p>Sitio libre de js para que no gastes tus megas de mas y tu CPU descanse :3</p>

	<a class="h2"
		href="#Web-estatica"
		id="Web-estatica">
		Sitio estático
		</a>
<p>Las páginas se generan con un programita Makefile (Ver acerca de & demás) tome esta decisión ya que... no quería programar php o armar una base de datos y nada complejo, además del ahorro energético :3</p>

	<a class="h2"
		href="#w3m-friendly"
		id="w3m-friendly">
		Amigable con la terminal
		</a>
<p>¿Has probado w3m o lynx? pues son geniales, debes aprender a usarlas pero... ¿que son? son navegadores de terminal y pues si tiene un dispositivo con bajas prestaciones (en relación al tiempo que se vive) tu navegación va ir de 10 :3 con un toque 90/00' y sin soporte de js (w3m soporta imágenes) Ah! si, este sitio se ve genial en w3m UwU</p>

	<a class="h2"
		href="#estado"
		id="estado">
		Esta...
		</a>
<p>Si, aveces dejo los post a medio camino o los actualizo y pues con esos [estados] la gente sabrá que no debe seguir un tutorial/texto ya que esta en construcción. Solo pondré el [Actualizado] cuando realice un gran cambio</p>

	<a class="h2"
		href="#atencion"
		id="atencion">
		Atención, con fondo rojo
		</a>
<p>Cuando aparece es para indicarle algo importante, solo eso :3 </p>
</div>
