<div class="post">

<a class="h1" href="@SELF@">Desarmando un APK</a>
<span class="date">[2020/05/21]</span>
<span class="ert">@ERT@</span>
<span class="lang">es</span>

<p>¿Sospechas de esa aplicación del gobierno? o simplemente quieres hacer <a href="https://es.wikipedia.org/wiki/Ingenier%C3%ADa_inversa" target="_blank">ingeniería inversa</a> de una app, de todas formas no viene mal aprender a como hacerlo :3</p>

<h2>Instalando lo necesario</h2>
<p>Se necesita instalar el programa <code class="code">jadx</code> <a href="https://github.com/skylot/jadx" target="_blank">disponible para distros basadas en Arch y Debian</a>, con los siguientes comandos podrás instarlo <code class="code">sudo pacman -Sy jadx</code> y <code class="code">sudo apt update && apt install jadx</code> y eso seria todo :3</p>

<h2>Comenzar a de-compilar</h2>
<p>Debes crear una carpeta y ahí poner la aplicación a desarmar, luego ejecutar en la terminal <code class="code">jadx aplicación.apk</code> esto nos va armar una carpeta llamada "aplicación" dentro dos carpetas, una que tiene las imágenes y otros archivos; la "source" tiene el código decompilado (En parte, ya que puede que algún segmento no aparezca o este ofuscado) (Si no quieres que aparezca la carpeta "resource" seleccionas la opción <code class="code">--no-res</code>)</p>

<h2>Buscar texto </h2>
<p>Ahora para buscar una variable o un texto pon <code class="code">grep -r "ClaveDelBackdoor"</code> (Puedes comenzar por palabras claves, como: clave, publica, privada, https, key, acceso o cifrado) ahora, solo leer código en Java o intentar descifrarlo ^^</p>

<h2>Otras herramientas necesarias</h2>
<p>xdd: Un editor hexadecimal, lo puedes usar en un script para modificar/leer archivos.</p>
<p>Okteta: Un editor hexadecimal mas amigable que el anterior.</p>
<p>Un dispositivo con acceso root, para poder revisar los archivos que toca.</p>
</div>
