<div class="post">

<a class="h1" href="@SELF@">Hay que tomar distanciamiento con las redes sociales</a>
<span class="date">[2020/05/27]</span>
<span class="ert">@ERT@</span>
<span class="est">[Sin terminar]</span>
<span class="lang">es</span>
<p>¿Te ha pasado que buscas el sitio web de una tienda y no encuentras mas que una página de facebook?</p>

<h2>facebook y su pasión por la data</h2>
<p>whatsapp, al igual que instagram alguna vez fueron de diferentes empresas, ahora mismo son de fb (Y quizás en un futuro no muy lejano zoom también sea de fb) y el problema es que fb es una empresa malvada, que solo vela por la misma y de privacidad y seguridad de tu data ni hablar... su aplicación de mensajería ws que tiene el monopolio de los mensajes instantáneos tiene fuertes lazos con google, claro, es otra empresa, otra empresa dedicada a la recopilación de data... (tus mensajes/multimedia se sube a la nube de google, sin descontar de tu cuenta de drive). Cada vez que fb tiene una falla caen esos gigantes, ah y se me olvida la censura de las "imágenes fuertes" que en el pasado medios de noticias alternativos publicaban para en un rato ser bajados.</p>
<p>Yendo al tema de las apps, pues si, le das permiso a una app propietaria a hacer cualquier cosa (Le das permiso a tu memoria interna, acceso a tus sms y acceso al teléfono que es darle el imei) así que imagina cuanta data tendrán de Ti, por ahora si no tienes otra vía, debes usar la versión móvil reducida, esa creada para conexiones lentas e inestables</p>

<h2>No subas fotos ni nada a fb</h2>
<p>Es enserio, fb con tus fotos puede entrenar sus programas de reconocimiento facial, recopilar la metadata (info de la cámara, coordenadas) para luego colaborar con los gobiernos.</p>

<h2>Cierra "tu" facebook</h2>
<p>Al cerrarlo puedes decir por que lo haces, además ayudas a descentralizar la internet para que así no sea solo una empresa la que tenga el poder de bajar cuanta cuenta quiera.</p>

<h2>Ya no existe la web personal</h2>
<p>Si usaste una computadora por el 2005 te acordaras que mucha gente tenia blogs, blogs con fotos, de fans, de perritus/gatus, algunos blogs emos, lo genial es que todo el diseño era creado por gente amateur (Como este sitio) y eso le daba un originalidad al espacio web, era lindo todo y creo que para allá se debe ir, pequeñas islas de html y css auto hospedadas o no.</p>

<h2>¿Pero y ws?</h2>
<p>ws como la app universal que es, es usada por mucha gente desde niñxs hasta abuelxs y si, es complicado cambiar una por otra, pero puedes partir por predicar lo dañino que es fb/ws para la gente.</p>
<p>La alternativa es usar XMPP como protocolo de mensajería y los programas son conversations y un cliente para GNU/Linux, después buscar un cliente que se adapte a ti y tu gente, o tener uno propio :3</p>

<h2>twitter</h2>
<p>Tampoco se queda atrás... (Bueno, si que están atrás ya que hasta la fecha su sistema de mensajes no es cifrado) también eliminando imágenes de la prensa alternativa mostrando la represión policial, así que si, también abandona tw y ven al diverso fediverso.</p>

<p>Gracias por leer y hasta la próxima :3</p>
</div>
