<div class="post">

<a class="h1" href="@SELF@">Dumpeando un cartucho de Famiclone o PoliStation</a>
<span class="date">[2019/10/10]</span>
<span class="ert">@ERT@</span>
<span class="est">[Sin terminar]</span>
<span class="lang">es</span>

<p>Si naciste en el 98, 00 o años posteriores quizás jugaste o viste una PoliStation! Si, Poli, no Play, vale ¿que es esa cosa? son videoconsolas replicas internas de la Nes/Famicom, solían regalártela cuando pedías una Play o no tenían el dinero suficiente para una consola.</p>

<p>La primera consola que utilice fue una Psone, recuerdo jugar al Digimon Rumble Arena y Driver no era mía así que pedí una (Ya no las fabricaban) así que me regalaron una PoliStation, a mi corta edad no me molestó mas bien me encanto poder jugar no los mismos juegos sino otros como el Mario Bros., Tanks y Mappy, en ese momento también llego a la casa un reproductor de CDV que tenia radio fm y podías conectarle un mando de Poli ¿Para que? si, para jugar juegos de NES! que venían en un CD! quizás ese sea tema para otro post 👀️.</p>

<ul class="índice">
	<li><a href="#poli...">Que nombre mas largo...</a>
	<li><a href="#Dumper">Dumper</a>
	<li><a href="#Fabricacion">Fabricación</a>
	<li><a href="#Links-de-interes">Links útiles o interesantes</a>
</ul>

<p>
	<a class="h2"
		href="#poli..."
		id="poli...">
			Polista...
	</a>
	
	Para no repetir su nombre le diré NOAC (Nintendo on a Chip, o Nintendo en un chip) o también Famiclone.
</p>

<p>
	<a class="h2"
		href="#Dumper"
		id="Dumper">
			Por fin! Vamos a construir el dumper y estos son los materiales que necesitaras
	</a>
<ul>
	<li>Arduino Mega
	<li>Dos leds de colores diferentes
	<li>Un socalo o socket de 60 pines, puedes sacarlo de un Famiclone en mal estado
	<li>Soldadura en pasta o de rollo sin plomo, Pb Free
	<li>Dinero para poder mandar a fabricar una PCB
</ul>

<p>
	<a class="h2"
		href="#Fabricacion"
		id="Fabricacion">
			Es fácil :)
	</a>
	
	Primero mandamos a fabricar la PCB, hay varios fabricantes de PCB pero te recomiendo este 
</p>
	<a class="h2"
		href="#Links-de-interes"
		id="Links-de-interes">
			Links interesantes
	</a>
	
	<p><a href="https://www.miladonintendo.cl/articulos/un-nostalgico-hallazgo/" target="_blank">Mi lado Nintendo, blog sobre la NES y la pirateria</a></p>
	<p><a href="https://cah4e3.shedevr.org.ru/dumping_2018.php" target="_blank">Un sitio ruso con varias roms de cartuchos piratas, debes revisarla!</a></p>

</div>
