<div class="post">

<a class="h1" href="@SELF@">Hackeando el Cagabi One</a>
<span class="date">[2019/09/03]</span>
<span class="ert">@ERT@</span>
<span class="est">[Sin terminar]</span>
<span class="lang">es</span>
<div class="aten">Atención!: No le recomiendo comprar este celular, no hay mucha info disponible, no tiene la mejor calidad y posiblemente se ensamblo en pésimas condiciones.</div>

<p>Como primer post recopilare información sobre el celular e intentare portarle postmarketOS</p>
<ul class="indice">
	<li><a href="#y-esta-cosa?">Caga-bi?</a>
	<li><a href="#Especificaciones">Especificaciones</a>
	<li><a href="#Links-de-interes">Links útiles</a>
</ul>

<p>
	<a class="h2"
		href="#y-esta-cosa?"
		id="y-esta-cosa?">
			Veamos que tenemos aquí
	</a>
	
	Este es el (quizás) smartphone mas barato (31 EUR) del mercado (mundo), es bonito por fuera, tiene para dos SIM (Solo 3G) y lindas carcasas de colores :3</a>

</p>

<p>
	<a class="h2"
		href="#Especificaciones"
		id="Especificaciones">
			Tan barato? No debe tener lo mejor...
	</a>
	
	Procesador MTK6580 de 4 núcleos, 1GB de RAM y 8GB de interna ah! y un flash led para la cámara posterior, su vidrio templado no es de la mejor calidad y el vidrio que protege la cámara trasera no resiste muy bien los rayones.</a>

	<a class="h2"
		href="#Links-de-interes""
		id="Links-de-interes">
			Algunos ports realizados y demás
	</a>
	
	<a href="https://www.movilesdualsim.com/tema/flymeos-6-para-el-cagabi-one-by-mdsdev.175888/" target="_blank">Flyme OS 6</a></a>.

</div>
