<div class="post">

<a class="h1" href="@SELF@">No le hagas caso al gobierno</a>
<span class="date">[2020/05/21]</span>
<span class="ert">@ERT@</span>
<span class="est">[Sin terminar]</span>
<span class="lang">es</span>

<p>Ya que no eres una prioridad</p>

<h2>El gobierno</h2>
<p>Quizás tu gobierno <a href="https://es.wikipedia.org/wiki/Cuarentena_de_Per%C3%BA_de_2020" target="_blank">comenzó la cuarentena total a los pocos dias</a>, pero ahora el sistema de salud colapso, quizás comenzó mas tarde (O quizás aun no), te decían "Quédate en casa" pero debes pagar las malditas cuentas y alimentarte, alguna gente decía que no pasabas hambre ya que estabas gordx... al final, la economía saldrá afectada igualmente y que hablar de la salud mental de tanta gente, de lxs psicólogas que ahora están ayudando (igual que mucha gente que trabaja ahí) en los hospitales... horrible, esa misma gente lxs trabajadores de la salud habían protestado el año pasado por falta de insumo y por una salud de calidad y universal (No importa de que país de sudamerica seas, se privilegiara a la economía y el poder armamentístico) ahora por la tele le muestran a la gente esos "héroes" que dan el todo por la gente y que a las 21:00 debes aplaudirles, ja, esos "héroes" que sienten y sufren igual que otrx trabajadxr, que horrible escenario se vive y aquí escribiendo esto.</p>

<h2>Pues bien, ¿que queda?</h2>
<p>Queda dejar de ser tan individualista, algo que el capitalismo nxs entregó; hay que eliminarlo por completo, ayudar cuando veas que tu vecinx no sale de casa por el virus o entregar mascarillas hechas en casa (O recuperar algunas mascarillas de esa gran multinacional que mal paga a sus trabajadores y vende tus datos) a la gente sin techo.</p>

<h2>La comunidad y la ayuda mutua</h2>
<p>Incentiva a tu vecinxs, quizás no uses whatsapp (Ya que es parte de facebook) y no estés en el grupo de tu vecindario, pero tienes tu impresora, un procesador de texto, tinta y papel que te servirán para hacer afiches con tu correo electrónico o numero de teléfono (Ambos que sean de un solo uso, para evitar spam) los afiches quedaran pegados por el barrio e invitaran a la comunidad a reunir alimento para hacer una olla común, alinear todos los vehículos para que la ambulancia pase libremente o fabricar mascarillas y por supuesto hablar sobre una huerta comunitaria, todo de forma auto-organizada sin ningún político que aproveche la ocasión.</p>

<h2>El estado/gobierno ve una oportunidad</h2>
<p>Con todo el tema covid19 el gob/estado se aprovechara y lanzara una app para poder recopilar mas info de la que ya tiene (correo electrónico, contactos, geolicalizacion, imei) así que cuidado con instalar apps de ese tipo (Y ni idea de que mas podría recolectar, ya que son software propietario).</p>
<p>Pondrá cámaras por todos lados <a href="https://colectivodisonancia.net/2020/04/sistema-de-televigilancia-2020/" target="_blank">(Oh bueno... cámaras no-termicas, vale, ¿estamos con el corona virus? y el gob planea instalar cámaras simplemente para vigilar a la gente que participe en la revuelta y post revuelta covid19)</a> además de aumentar la vigilancia policial/militar y pensar que todo esto se puede apalear con barbijos/mascarillas/tapabocas, lavarse las manos, evitar salir a la calle (No distanciamiento social, físico si) y con buena alimentación... pero debes ser un privilegiado como yo para poder quedarse en casa.</p>

<h2>Por ahora juntemxs semillas y fuerzas</h2>
<p>Habla por teléfono o por <a href="https://radioslibres.net/que-el-encierro-no-nos-aisle/" target="_blank">Jitsi</a> con tu gente querida, habla con tu vecinx al verle cuando sacan la basura, saluda a lxs recolectores de basura y junta semillas... por si hay alguna escasez de alimentos, en una crisis próxima se debería tomar un terreno abandonado, limpiar y sembrar algunas verduras, por ahora puedes leer un libro sobre medicina natural, jardinería y anarquía.</p>
</div>
