<div class="post">

<a class="h1" href="@SELF@">Sesiones de psicología</a>
<span class="date">[2020/05/27]</span>
<span class="ert">@ERT@</span>
<span class="lang">es</span>

<p>Por el tema covid19 mucha gente esta en casa y en estos momentos es cuando mas se necesita una sesión.</p>

<h2>Lo primero</h2>
<p>No soy psicólogx, solo un paciente que quiere dejar algunas recomendaciones de Software Libre, por si alguien las necesita.</p>

<h2>Sesiones</h2>
<p>Las sesiones son silenciosas, tranquilas y privadas, pero ¿como hacerlo en la internet? pues pensaba en usar <a href="https://radioslibres.net/que-el-encierro-no-nos-aisle/" target="_blank">Jitsi</a> o <a href="https://jami.net/" target="_blank">Jami</a> para eso, tener una servidora auto hospedada en el caso de Jitsi o usar uno <a href="https://radioslibres.net/que-el-encierro-no-nos-aisle/" target="_blank">aquí recomendado</a>, en caso de usar Jami, pues solamente usarlo :3 y para mas privacidad ambas partes podrían usar <a href="https://www.torproject.org/es/" target="_blank">Tor</a>.</p>

<h2>Agendar hora</h2>
<p>Para agendar una hora, ambas partes deben usar correo electrónico (<a href="https://riseup.net/es/security/message-security/openpgp" target="_blank">Con openPGP y con un asunto no sospechoso</a>) o usar Jami, para el pago pueden usar <a href="https://www.getmonero.org/" target="_blank">Monero</a>... quizás es algo extremo pero igual lo dejo.</p>
<p>Gracias por leer el post</p>
</div>
