<div class="post">

<a class="h1" href="@SELF@">Usa tu Huawei Mobile WiFi como módem USB</a>
<span class="date">[2020/05/14]</span>
<span class="ert">@ERT@</span>
<span class="lang">es</span>
<div class="aten">Atención!: Al usar un modem 3G/4G tu ISP sabe donde estas en cada momento, además que el mismo modem ejecuta código propietario y con posibles puertas traseras.</p></div>

<h2>Instalando lo necesario</h2>
<p>Bien, en si usas una distro basada en Arch (Como Parabola OS o Manjaro) en la terminal debes poner <code class="code">sudo pacman -Sy usb_modeswitch</code> (Con esto actualizas los repos e instalas usb_modeswitch que permite habilitar el modo USB) ahora si usas una distro basada en Debian (Como Ubuntu, Linux Mint o Trisquel) debes poner <code class="code">sudo apt update && sudo apt install usb_modeswitch</code> y listo :3</p>

<h2>Activando el módem</h2>
<p>Ahora toca tocar un archivo para que al momento de conectar el modem tu computadora se conecta a la red :3</p>
<p>Debes modificar este archivo con este comando <code class="code">sudo nano /lib/udev/rules.d/40-usb_modeswitch.rules</code> hay que ir al final con CTRL+V y justo antes de <code class="code">LABEL="modeswitch_rules_end"</code> pegar esto <pre><code class="code"># Huawei E353/E3131
ATTR{idVendor}=="12d1", ATTR{idProduct}=="1f01", RUN +="usb_modeswitch '%b/%k'"
</code></pre> Ahora un reinicio/apagado y ya deberia andar :3</p>

<h2>¿Y si no me sirvió?</h2>
<p>Haber, pone en la terminal <code class="code">lsusb</code> ahí sale algo de módem? Huawei? pues si es así debes cambiar unos parametros del archivo de configuración anterior, en lugar de "12d1" y "1f01" debes poner las identidades correspondientes</p>
<p>Ejemplo: Si aparece asi <pre><code class="code">Bus 002 Device 009: ID 1f32:1312 Huawei Modemsito
</code></pre> debes pegar en la configuracion esto <pre><code class="code"># Huawei Modemsito
ATTR{idVendor}=="1f32", ATTR{idProduct}=="1312", RUN +="usb_modeswitch '%b/%k'"
</code></pre> reinicia/apaga y quería listo :3</p>

<h2>Cosas varias</h2>
<p>Eh para ahorrar energía (Súper necesario) podrías apagar el WiFi para eso debes entrar en a la interfaz web que queda en <a href="https://192.168.8.1" target="_blank">https://192.168.8.1</a> y cambiar los parámetros.<p>
<p>Cuando nadie use el modem podrías sacar la batería ya que el módem queda en standby, además ahorras energía.</p>
</div>
