<div class="post">
<a class="h1" href="@SELF@">Acerca de & demás</a>
<span class="lang">es</span>
<div class="lenguajes"><a href="../acerca-de-ca/">ca</a> <a href="../acerca-de-en/">en</a> <a href="../acerca-de-es/">es</a></div>

<p>Bienvenidx este es mi espacio en internet, libre de JavaScript, aquí pondré recetas, descubrimientos, hackeos y notas.</p>
<p>Soy vegetariano o vegan en proceso, mis pronombres son El/He, me gusta la electrónica (De siempre), química, informática (Desde los seis años), historia, botánica y por supuesto que este user y en este espacio respetamos las disidencias sexuales y de géneros 🏳‍🌈 UwU</p>

<h2>Lista de animes/mangas techis</h2>

<ul>
	<li> Evangelion: Mechas, explosiones, referencias a la biblia, TCP/IP, algunas computadoras y cables :3
	<li> Akanesasu Shoujo: El primer anime que veo donde las personajes usan una radio fm/am a pilas, creo que son walkmans ah y también una radio galena! 😱️
	<li> Eden of the East: Hay un hacker que esta encerrado en su casa por la perdida de sus pantalones.
</ul>

<h2>Metas</h2>

<ul>
	<li> Leer mas literatura anarquista
	<li> Conseguir la auto suficiencia energética mediante paneles solares y reducir mi consumo
	<li> Aprender <a href="https://es.wikipedia.org/wiki/C_(lenguaje_de_programaci%C3%B3n)" target="_blank">C</a>
	<li> Aprender otros idiomas
	<li> Aprender <a href="https://es.wikipedia.org/wiki/Python" target="_blank">Python</a> y ponerme al día con las versiones
	<li> Hacerme de una computadora basada en <a href="https://es.wikipedia.org/wiki/Arquitectura_ARM" target="_blank">ARM</a> o <a href="https://es.wikipedia.org/wiki/RISC-V" target="_blank">RISC-V</a>, preferiblemente portátil
	<li> Saber más de Arduino
	<li> Saber más de <a href="https://es.wikipedia.org/wiki/AVR" target="_blank">AVR</a>, <a href="https://es.wikipedia.org/wiki/Arquitectura_ARM" target="_blank">ARM</a>, <a href="https://es.wikipedia.org/wiki/RISC-V" target="_blank">RISC-V</a> y <a href="https://en.wikipedia.org/wiki/Tensilica" target="_blank">Xtensa</a>
	<li> Leer más en general
	<li> Colaborar en algún proyecto de Hardware o Software Libre
	<li> Aprender a usar <a href="https://es.wikipedia.org/wiki/KiCad" target="_blank">Kicad</a>, solo se lo básico
	<li> Hacer un juego casero (<a href="https://es.wikipedia.org/wiki/Homebrew" target="_blank">homebrew</a>) <a href="https://es.wikipedia.org/wiki/Multiplataforma" target="_blank">multiplataforma</a>, obviamente Software Libre
</ul>

<h2>¿Cual programa usas para el blog?</h2>
<p>Uso <a href="https://en.wikipedia.org/wiki/Make_(software)" target="_blank">make</a> y un editor de texto como <a href="https://en.wikipedia.org/wiki/gedit_(software)" target="_blank">gedit</a> o <a href="https://en.wikipedia.org/wiki/nano_(software)" target="_blank">nano</a> aquí esta su <a href="https://github.com/ollieparanoid/ollieparanoid.github.io" target="_blank">código fuente original</a> con licencia <a href="https://www.gnu.org/licenses/agpl-3.0.en.html" target="_blank">AGPL-3.0</a> o posterior</p>

<p>Después modifique algunos parámetros en las plantillas y quedo como lo ves :3 y aquí esta <a href="https://git.disroot.org/f3nx/Fenx-Blog-Source-Code" target="_blank">el código del fork</a> con licencia <a href="https://www.gnu.org/licenses/agpl-3.0.en.html" target="_blank">AGPL-3.0</a> o posterior, obviamente puedes editar el código, ayudar a mejorarlo o crear un fork 😸</p>

<h2>¿Como estas?</h2>
<p>Muy bien, gracias ^^</p>

<h2>¿Sos comunista?</h2>
<p>No, soy anarquista UwU</p>

<h2>¿Eres un hacker?</h2>
<p>Un hacker y maker :)</p>

<h2>¿Me puedes hackear un facebook?</h2>
<p>Jaja, no, tenemxs que respetar la privacidad de las personas, por lo que les sugiero dejar facebook (Whatsapp, Instagram, FB Messenger, etc.) por los diversos ataques a la privacidad que han realizado, además si quieres saber algo de esa persona ¿por que no mejor le preguntas?</p>

<h2>Ah... entonces ¿sos un hacker bueno?</h2>
<p>No, solo un hacker, uno de los tantxs que defienden la privacidad y un internet Libre.</p>
</div>
