<div class="post">
<a class="h1" href="@SELF@">Acerca de & demás</a>
<span class="lang">en</span>
<div class="lenguajes"><a href="../acerca-de-ca/">ca</a> <a href="../acerca-de-en/">en</a> <a href="../acerca-de-es/">es</a></div>

<p>Welcome this is my space on the internet, free of JavaScript, here I will put recipes, discoveries, hacks and notes.</p>
<p>I am vegetarian or vegan in process, my pronouns are El/He, I like electronics (From always), chemistry, computer science (From the age of six), history, botany and of course this user and in this space we respect sexual dissidences 🏳🌈 UwU</p>

<h2>List of anime/mangas techis</h2>

<ul>
	<li> Evangelion: Mechas, explosions, bible references, TCP/IP, some computers and cables :3
	<li> Akanesasu Shoujo: The first anime I see where the characters use a battery powered fm/am radio, I think they are walkmans ah and also a galena radio! 😱️
	<li> Eden of the East: There's a hacker who's locked in his house because he lost his pants.
</ul>

<h2>What program do you use for the blog?</h2>
<p>I use <a href="https://en.wikipedia.org/wiki/Make_(software)" target="_blank">make</a> and a text editor like <a href="https://en.wikipedia.org/wiki/gedit_(software)" target="_blank">gedit</a> or <a href="https://en.wikipedia.org/wiki/nano_(software)" target="_blank">nano</a> here is the <a href="https://github.com/ollieparanoid/ollieparanoid.github.io" target="_blank">original source code</a> licensed under <a href="https://www.gnu.org/licenses/agpl-3.0.en.html" target="_blank">AGPL-3.0-or-later</a></p>

<p>Then I modified some parameters in the templates/makefile and it looks like this :3 and here is <a href="https://git.disroot.org/f3nx/Fenx-Blog-Source-Code" target="_blank">the fork code</a>licensed under <a href="https://www.gnu.org/licenses/agpl-3.0.en.html" target="_blank">AGPL-3.0-or-later</a></p>, and obviously you can edit the code, help to improve it or create a fork 😸</p>

<h2>How are you?</h2>
<p>All right, thank you ^^</p>

<h2>Are you a communist?</h2>
<p>No, I'm an anarchist UwU</p>

<h2>Are you a hacker?</h2>
<p>A hacker and maker :)</p>

<h2>Can you hack a facebook account?</h2>
<p>haha, no, we have to respect people's privacy, so I suggest you leave facebook (Whatsapp, Instagram, FB Messenger, etc.) because of the various attacks on privacy they have made, also if you want to know something about that person why not ask him better?</p>

<h2>Ah... so you're a good hacker?</h2>
<p>No, just a hacker, one of the many who defend privacy and a free internet.</p>
</div>
