<div class="post">
<a class="h1" href="@SELF@">Contacto</a>
<span class="lang">es</span>
<div class="lenguajes"><a href="../contacto-ca">ca</a> <a href="../contacto-en/">en</a> <a href="../contacto-es/">es</a></div>

<p>
	Escríbeme:
</p>

<p style="padding-left: 40px">
	<code>f3nx<span style="display:none">
		Algo de basura para confundir a los bots de spam
		Some junk
	</span>@dis<span style="display:none">
		mas basura
		more junk
	</span>root.org</code>
</p>

<p>
	Por favor si puedes cifra tus correos electrónicos con PGP, esta es mi <a href="@WEBROOT@/f3nx_pub.asc" target="_blank">clave pública 🔑</a> (Aquí hay unas guías para configurar PGP en
<a href="https://es.wikipedia.org/Thunderbird" target="_blank">Thunderbird</a>

		<a href="https://ssd.eff.org/es/module/como-usar-pgp-para-linux" target="_blank">Equipos basados en GNU/Linux</a>,
		<a href="https://ssd.eff.org/es/module/como-usar-pgp-para-windows-pc" target="_blank">Windows</a> y
		<a href="https://ssd.eff.org/es/module/c%C3%B3mo-usar-pgp-para-mac-os-x" target="_blank">Mac OS X</a>)
</p>

<p>
	Si adjuntas tu clave PGP pública en el primer mensaje sera mas fácil responderte ;) -reviso mi correo electrónico pocas veces al mes, tendrás que tener paciencia-
</p>
</div>
