<div class="post">
<a class="h1" href="@SELF@">Contact</a>
<span class="lang">en</span>
<div class="lenguajes"><a href="../contacto-ca/">ca</a> <a href="../contacto-en/">en</a> <a href="../contacto-es/">es</a></div>

<p>
	Write to me:
</p>

<p style="padding-left: 40px">
	<code>f3nx<span style="display:none">
		Some trash to confuse the spam bots
		Some junk
	</span>@dis<span style="display:none">
		more rubbish
		more junk
	</span>root.org</code>
</p>

<p>
	Please if you can encrypt your emails with PGP, this is my <a href="@WEBROOT@/f3nx_pub.asc" target="_blank">public key 🔑</a> (Here are some guides to configure PGP in
<a href="https://es.wikipedia.org/Thunderbird" target="_blank">Thunderbird</a>

		<a href="https://ssd.eff.org/en/module/how-use-pgp-linux" target="_blank">GNU/Linux-based system</a>,
		<a href="https://ssd.eff.org/en/module/how-use-pgp-windows" target="_blank">Windows</a> and
		<a href="https://ssd.eff.org/en/module/how-use-pgp-mac-os-x" target="_blank">Mac OS X</a>)
</p>

<p>
	If you attach your public PGP key in the first message it will be easier to reply ;) -I check my email a few times a month, you'll have to be patient-
</p>
</div>
