<div class="post">
<a class="h1" href="@SELF@">Contacto</a>
<span class="lang">ca</span>
<div class="lenguajes"><a href="../contacto-ca/">ca</a> <a href="../contacto-en/">en</a> <a href="../contacto-es/">es</a></div>

<p>
	Escriu-me:
</p>

<p style="padding-left: 40px">
	<code>f3nx<span style="display:none">
		Algo de basura para confundir a los bots de spam
		Some junk
	</span>@di<span style="display:none">
		mas basura
		more junk
	</span>sroot.org</code>
</p>

<p>
	Si us plau si pots xifra teus correus electrònics amb PGP, aquesta és la meva <a href="@WEBROOT@/f3nx_pub.asc" target="_blank">clau pública 🔑</a> (Aquí hi ha unes guies per configurar PGP a
<a href="https://es.wikipedia.org/Thunderbird" target="_blank">Thunderbird</a>

		<a href="https://ssd.eff.org/en/module/how-use-pgp-linux" target="_blank">Equips basats en GNU/Linux</a>,
		<a href="https://ssd.eff.org/en/module/how-use-pgp-windows" target="_blank">Windows</a> y
		<a href="https://ssd.eff.org/en/module/how-use-pgp-mac-os-x" target="_blank">Mac OS X</a>).
</p>

<p>
	Si adjuntes teva clau PGP pública al primer missatge sera mes fàcil respondre't ;) -reviso la vostra adreça electrònica poques vegades a el mes, hauràs de tenir paciència-
</p>
</div>
