<div class="post">
<a class="h1" href="@SELF@">Donations ♥</a>
<span class="lang">en</span>
<div class="lenguajes"><a href="../donar-ca">ca</a> <a href="../donar-en/">en</a> <a href="../donar-es/">es</a></div>
<p>
	<a href="https://liberapay.org" target="_blank">I'm receiving donations</a>, to eat, to drink mate, for electronic components and obviously to contribute with Free Software/Hardware projects ♥ </p>
	<p>For now I only accept donations through Liberapay, uh I don't receive cryptomoney for now ^^</p>
<h2>You can also give your money to other causes</h2>
<ul>
	<li> <a href="https://supporters.eff.org/donate/join-eff-today" target="_blank">EFF</a> Donate to EFF for a safer internet and digital life :3
	<li> <a href="https://my.fsf.org/donate" target="_blank">FSF</a> Your money will be used to spread the benefits of the <a href="https://es.wikipedia.org/wiki/Software_libre" target="_blank">Free Software</a> plus others <a href="https://www.defectivebydesign.org/" target="_blank">campaigns</a> ♥
	<li> <a href="https://rlab.be/donaciones/" target="_blank">R'lyeh Hacklab</a> A free access <a href="https://es.wikipedia.org/wiki/Hacklab" target="_blank">Hacklab</a> where they teach programming and other things ♥
	<li> <a href="https://www.derechosdigitales.org/participa/" target="_blank">Derechos Digitales</a> Latin American NGO dedicated to the defense of privacy and human rights on the Internet ♥
</ul>
</div>
