<div class="post">
<a class="h1" href="@SELF@">Donaciones ♥</a>
<span class="lang">es</span>
<div class="lenguajes"><a href="../donar-ca">ca</a> <a href="../donar-en/">en</a> <a href="../donar-es/">es</a></div>
<p>
	<a href="https://liberapay.org" target="_blank">Estoy recibiendo donaciones</a>, para comer, para tomar mate, para componentes electrónicos y obviamente para aportar con proyectos de Software/Hardware Libre ♥ </p>
	<p>Por ahora solo acepto donaciones mediante Liberapay, eh no recibo criptomonedas por ahora ^^</p>
<h2>También puedes dar tu dinero a otras causas :)</h2>
<ul>
	<li> <a href="https://supporters.eff.org/donate/join-eff-today" target="_blank">EFF</a> Dona a la EFF por un internet y vida digital mas segura :3
	<li> <a href="https://my.fsf.org/donate" target="_blank">FSF</a> Tu dinero sera usado para difundir las bondades del <a href="https://es.wikipedia.org/wiki/Software_libre" target="_blank">Software Libre</a> además de otras <a href="https://www.defectivebydesign.org/" target="_blank">campañas</a> ♥
	<li> <a href="https://rlab.be/donaciones/" target="_blank">R'lyeh Hacklab</a> Un <a href="https://es.wikipedia.org/wiki/Hacklab" target="_blank">Hacklab</a> de acceso gratuito donde imparten clases de programación y otras cosas ♥
	<li> <a href="https://www.derechosdigitales.org/participa/" target="_blank">Derechos Digitales</a> ONG Latinoamericana dedicada a la defensa de la privacidad y derechos humanos en la internet ♥
</ul>
</div>
