<div class="post">
<a class="h1" href="@SELF@">Política de privacidad</a>
<span class="lang">es</span>
<div class="lenguajes"><a href="../politica-de-privacidad-ca/">ca</a> <a href="../politica-de-privacidad-en/">en</a> <a href="../politica-de-privacidad-es/">es</a></div>

<p>En este sitio web no le rastreamos mediante <a href="https://en.wikipedia.org/wiki/Web_analytics" target="_blank">JavaScript</a> (Sitio libre de JavaScript) o <a href="https://github.com/maxchehab/CSS-Keylogging" target="_blank">CSS</a> (Solo algo de CSS no-malintencionado), no se usan <a href="https://en.wikipedia.org/wiki/HTTP_cookie#Tracking" target="_blank">Cookies</a> ni incrustamos HTML de terceros, no se tiene registro de las IP que visitan el sitio (Puede que Neocities si las tenga)</p>
<p>Así que puede visitar el sitio con tranquilidad ♥ (O sospeche y use <a href="https://es.wikipedia.org/wiki/Tor_(red_de_anonimato)" target="_blank">Tor</a>)</p>
<p>Si quiere evitar la vigilancia web y proteger su privacidad puede instalar estas extensiones para su navegador <a href="https://www.eff.org/https-everywhere" target="_blank">HTTPS Everywhere</a> (Todas las peticiones HTTP son reemplazadas por <a href="https://es.wikipedia.org/wiki/Protocolo_seguro_de_transferencia_de_hipertexto" target="_blank">HTTPS</a>, con esto evitas un <a href="https://es.wikipedia.org/wiki/Ataque_de_intermediario" target="_blank">MitM</a>) y <a href="https://www.eff.org/privacybadger" target="_blank">Privacy Badger</a> (Este addon reconoce los dominios que te persiguen y los bloquea)</p>
</div>
