<div class="post">
<a class="h1" href="@SELF@">Privacy Policy</a>
<span class="lang">en</span>
<div class="lenguajes"><a href="../politica-de-privacidad-ca/">ca</a> <a href="../politica-de-privacidad-en/">en</a> <a href="../politica-de-privacidad-es/">es</a></div>

<p>On this website we do not track you by means of <a href="https://en.wikipedia.org/wiki/Web_analytics" target="_blank">JavaScript</a> (Free JavaScript Site) or <a href="https://github.com/maxchehab/CSS-Keylogging" target="_blank">CSS</a> (Just some non malicious CSS), not used <a href="https://en.wikipedia.org/wiki/HTTP_cookie#Tracking" target="_blank">Cookies</a> nor do we embed third-party HTML, we have no record of the IPs that visit the site (Neocities may have)</p>
<p>So you can visit the site with confidence ♥ (Or be suspicious and use <a href="https://en.wikipedia.org/wiki/Tor_(anonymity_network)" target="_blank">Tor</a>)</p>
<p>If you want to avoid web surveillance and protect your privacy you can install these extensions for your browser <a href="https://www.eff.org/https-everywhere" target="_blank">HTTPS Everywhere</a> (All HTTP requests are replaced by <a href="https://es.wikipedia.org/wiki/Hypertext_Transfer_Secure_Protocol" target="_blank">HTTPS</a>, thus avoiding a <a href="https://es.wikipedia.org/wiki/Ataque_de_intermediario" target="_blank">MitM</a>) and <a href="https://www.eff.org/privacybadger" target="_blank">Privacy Badger</a> (This addon recognizes domains that are chasing you and blocks them)</p>
</div>
