<div class="post">
<a class="h1" href="@SELF@">Política de privacitat</a>
<span class="lang">ca</span>
<div class="lenguajes"><a href="../politica-de-privacidad-ca/">ca</a> <a href="../politica-de-privacidad-en/">en</a> <a href="../politica-de-privacidad-es/">es</a></div>

<P> En aquest lloc web no li rastregem mitjançant <a href="https://en.wikipedia.org/wiki/Web_analytics" target="_blank">estigui habilitat</a> (Lloc lliure de JavaScript) o <a href="https://github.com/maxchehab/CSS-Keylogging" target="_blank">CSS</a> (Només una mica de CSS no-malintencionat), no s'usen <a href="https://en.wikipedia.org/wiki/HTTP_cookie#Tracking" target="_blank">Cookies</a> ni incrustem HTML de tercers, no té registre de les IP que visiten el lloc (Potser Neocities si les tingui) </p>
<P> Així que pot visitar el lloc amb tranquil·litat ♥ (O sospiti i utilitzeu <a href="https://ca.wikipedia.org/wiki/Tor_(xarxa)" target="_blank">Tor</a>)</p>
<P> Si vol evitar la vigilància web i protegir la seva privacitat pot instal·lar aquestes extensions per al seu navegador <a href="https://www.eff.org/https-everywhere" target="_blank">HTTPS Everywhere</a> (Totes les peticions HTTP són reemplaçades per <a href="https://ca.wikipedia.org/wiki/HTTPS" target="_blank">HTTPS</a>, amb això evites una <a href="https://ca.wikipedia.org/wiki/Intercepci%C3%B3" target ="_blank">MitM</a>) i <a href="https://www.eff.org/privacybadger" target="_blank">Privacy Badger</a> (Aquest addon reconeix els dominis que et persegueixen i els bloqueja)</p>
</div>
