<div class="post">
<a class="h1" href="@SELF@">Projectes interessants</a>
<span class="lang">ca</span>
<div class="lenguajes"><a href="../proyectos-interesantes-ca/">ca</a> <a href="../proyectos-interesantes-en/">en</a> <a href="../proyectos-interesantes-es/">es</a></div>
<p>
	Aquí deixi alguns projectes interessants, espero que siguin del seu interès :)
</p>

<p>
	<a href="https://fread.ink/" target="_blank">Fread.ink</a> Una distro GNU/Linux per a lectors de llibres electrònics que aspira ser <a href="https://www.gnu.org/distros/free-distros.ca.html" target="_blank">lliure</a>.
</p>

<p>
	<a href="https://postmarketos.org/" target="_blank">postmarketOS</a> Una distro basada en <a href="https://alpinelinux.org/" target="_blank">Alpine Linux</a> optimitzada per a dispositius amb pantalla tàctil, principalment smartphones i altres dispositius.
</p>

<p>
	<a href="https://leste.maemo.org/Main_Page" target="_blank">Maemo Leste</a> Una altra distro dissenyada per a smartphones, tablets i altres dispositius
</p>
</div>
