<div class="post">
<a class="h1" href="@SELF@">Proyectos interesantes</a>
<span class="lang">es</span>
<div class="lenguajes"><a href="../proyectos-interesantes-ca/">ca</a> <a href="../proyectos-interesantes-en/">en</a> <a href="../proyectos-interesantes-es/">es</a></div>

<p>
	Aquí dejare algunos proyectos interesantes, espero que sean de su interés :)
</p>

<p>
	<a href="https://fread.ink/" target="_blank">Fread.ink</a> Una distro GNU/Linux para lectores de libros electrónicos que aspira ser <a href="https://www.gnu.org/distros/free-distros.es.html" target="_blank">Libre</a>
</p>

<p>
	<a href="https://postmarketos.org/" target="_blank">postmarketOS</a> Una distro basada en <a href="https://alpinelinux.org/" target="_blank">Alpine Linux</a> optimizada para dispositivos con pantalla táctil, principalmente smartphones y otros dispositivos
</p>

<p>
	<a href="https://leste.maemo.org/Main_Page" target="_blank">Maemo Leste</a> Otra distro diseñada para smartphones, tablets y otros dispositivos
</p>
</div>
