<div class="post">
<a class="h1" href="@SELF@">Interesting Projects</a>
<span class="lang">en</span>
<div class="lenguajes"><a href="../proyectos-interesantes-ca/">ca</a> <a href="../proyectos-interesantes-en/">en</a> <a href="../proyectos-interesantes-es/">es</a></div>
<p>
	Here I will leave some interesting projects, I hope they are of your interest :)
</p>

<p>
	<a href="https://fread.ink/" target="_blank">Fread.ink</a> A GNU/Linux distro for eBook readers that aims to be <a href="https://www.gnu.org/distros/free-distros.es.html" target="_blank">Free</a>
</p>

<p>
	<a href="https://postmarketos.org/" target="_blank">postmarketOS</a> A distro based on <a href="https://alpinelinux.org/" target="_blank">Alpine Linux</a> optimized for touch screen devices, mainly smartphones and other devices.
</p>

<p>
	<a href="https://leste.maemo.org/Main_Page" target="_blank">Maemo Leste</a> Another distro designed for smartphones, tablets and other devices.
</p>
</div>
